.navr2{
	/*background-color: red;*/
	/*display: flex;*/
	color: #b10909;
}
.navr2 h2{
	text-align: right;
}
#lagos{
	/*border-style: solid;
	border-color: #b10909;
	/*border: none;*/*/
}

.form-rounded{
	border-radius: 1em;
}

.card{
	margin-bottom: 10px;
	 height: 70px;

}
.card .card-body{
	padding: 10px;
	background-color: #acacac;
}
.hvr-grow i{
	color:black;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
	margin-bottom: 2em;
}

/* style glyph */
.inner-addon .fa-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
/* align glyph */
.left-addon .fa-search  { left:  0px;}

/* add padding  */
.left-addon input  {
padding-left:  30px; 
background-color: #acacac;
}

@media screen and (max-width: 768px) {
.navr2 .row p {
	    text-align: center;
}
}
@media screen and (max-width:600px){
	
	div.row.content-lasg{
		display: flex;
		flex-wrap: wrap;
		margin-left: 3px;
		width: 320px;
	}
	div.row.content-ogun{
		display: flex;
		flex-wrap: wrap;
		width: 320px;
		padding-left: 3px;
	}
	.justify-content-center{
/* 		justify-content: left !important; */
	}
	.col-11{
		padding-left: 34px;
	}
	.col-sm-4{
		padding: 0;
		padding-right: 10px;
		width: 150px;
		margin-bottom: 30px;
	}
	.card-title{
		font-size: 12px;
	}
	.fa-phone{
		font-size: 15px;
	}
}
