.navr2{
	/*background-color: red;*/
	/*display: flex;*/
	color: #b10909;
}
.navr2 h2{
	text-align: right;
}
#lagos{
	border-style: solid;
	border-color: #b10909;
}
.form-rounded{
	border-radius: 1em;
}

.card{
	margin-bottom: 10px;
	 height: 70px;

}
.card .card-body{
	padding: 10px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
	margin-bottom: 2em;
}

/* style glyph */
.inner-addon .fa-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
/* align glyph */
.left-addon .fa-search  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

