:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --sup-color:#28a745;
} 

body{
  font-family: "Lato", sans-serif;
  background-color:  #ffc0cb;
  color:red;	  
  transition: background-color .1s;
}

h2{
  margin-top: 20px;
  font-weight: bold;
  font-family: arial;
}
h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

a {
  color: #6bbc4e;
  font-weight: 900 !important;
  text-decoration: none;
}
#content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
 
}

.contact-info {
  padding: 0.6em 0;

}
.card{
	border-radius: 8px;
    padding: 14px 7px;
    background: #fff;
    max-width: 330px;
    margin: 2vh auto;
    box-shadow: 0 2px 3px rgba(71, 71, 71, 0.3);
	background: whitesmoke; 
}
.fa-phone{
  color: red;
}
.fa {
  font-size: 50px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
.ct{
	margin-top:10px;
}


[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}


/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (max-width: 800px) {
  #npf{
    /*height: 90px;*/

  }
  h2{
    font-size: 1.4em;
  }
}

/*  */
@media (max-width: 650px){
    #npf{
      width: 50%;
      height: 50%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .text-center{
      font-size: 1rem;
    }
    #content{
        display: flex;
        flex-direction: column;
    }
}